# Code quality check
bandit
pydocstyle
flake8
flake8-quotes
pylint
pylint-flask
pylint-flask-sqlalchemy
coverage

# Testing framework
pytest
pytest-flask

# Other necessary requirements
-r requirements.txt
